*,
ul,
li {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
}

body {
  background-color: #fefefe;
}

img {
  display: block;
  width: 100%;
}

.cta {
  margin: 0 auto;
  margin-top: 63px;
  padding: 10px 52px;
  background-color: #c6126e;
  border-radius: 0;
  color: #fefefe;
  font-size: 24px;
  border-bottom: 5px solid #7e0845;
  border-radius: 15px;
}

.cta:hover {
  opacity: 0.7;
  color: #fefefe;
}

.cta:active {
  margin-bottom: 66px;
  border-bottom: 0;
}

.intro {
  height: 700px !important;
  color: #fefefe;
  background-image: url("/images/section-intro-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
}

.intro h1 {
  margin-top: 38px;
  font-size: 36px;
  font-weight: bold;
}

.intro h2 {
  margin-top: 16px;
  font-size: 24px;
  font-weight: bold;
}

.intro p {
  margin: 0 auto;
  margin-top: 31px;
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 24px;
  max-width: 1150px;
}

.intro img {
  margin: 0 auto;
  margin-top: 37px;
  max-width: 172px;
}

.intro .video-wrap {
  position: relative;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 50.25%;
}

.intro .video-wrap iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sec-2 {
  margin: 0 auto;
  margin-top: 437px;
  padding-top: 165px;
}

.sec-2 h2 {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  color: #002a4c;
}

.sec-2 h2 span {
  color: #c6126e;
}

.sec-2 ul {
  color: #002a4c;
  display: block;
  margin: 0 auto;
  margin-top: 65px;
  max-width: 550px;
}

.sec-2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 500;
}

.sec-2 ul li:last-child {
  margin-bottom: 0;
}

.sec-2 ul li div {
  font-weight: 500;
}

.sec-2 ul li .bolinha {
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 8px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #002a4c;
}

.sec-3 {
  margin-top: 111px;
  background-color: #002a4c;
  padding: 145px 0;
  color: #fefefe;
}

.sec-3 .content {
  margin: 0 auto;
  max-width: 755px;
}

.sec-3 .content p {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.sec-3 .content p span {
  color: #da8bb3;
}

.sec-4 {
  padding: 112px 0;
}

.sec-4 h2 {
  color: #002a4c;
  margin: 0 auto;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  max-width: 637px;
}

.sec-4 ul {
  color: #002a4c;
  display: block;
  margin: 0 auto;
  margin-top: 65px;
  max-width: 550px;
}

.sec-4 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 600;
}

.sec-4 ul li:last-child {
  margin-bottom: 0;
}

.sec-4 ul li .bolinha2 {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.sec-4 .cta-wrap {
  text-align: center;
}

.sec-5 {
  color: #fefefe;
  background-color: #c6126e;
  padding: 110px 0;
  text-align: center;
}

.sec-5 h2 {
  font-size: 34px;
  font-weight: 700;
}

.sec-5 p {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 27px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 49px;
}

.sec-5 .caixas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.sec-5 .caixas img {
  -webkit-box-shadow: 0px 6px 6px 0px #00000040;
          box-shadow: 0px 6px 6px 0px #00000040;
}

.sec-5 .caixa {
  display: block;
  height: 400px;
  margin-top: 20px;
  background-color: #da8bb3;
}

.sec-5 .cta {
  border-bottom: 5px solid #08123f;
  background-color: #002a4c;
}

.sec-6 {
  background-color: #fefefe;
  padding: 110px 0;
}

.sec-6 h2 {
  font-size: 34px;
  font-weight: 700;
  max-width: 650px;
  color: #002a4c !important;
}

.sec-6 h2 span {
  color: #c6126e;
}

.sec-6 ul {
  margin-top: 137px;
}

.sec-6 ul li {
  margin-top: 47px;
}

.sec-6 ul li:first-child {
  margin-top: 0;
}

.sec-6 ul li h3 {
  color: #c6126e;
  font-weight: 700;
  font-size: 34px;
}

.sec-6 ul li p {
  color: #002a4c;
  margin-top: 8px;
  font-size: 24px;
  font-weight: 500;
  max-width: 690px;
}

.sec-6 .cta-wrap {
  text-align: center;
}

.sec-6 .cta-wrap .cta {
  background-color: #002a4c;
  border-bottom: 5px solid #08123f;
}

.about {
  padding: 110px 0 0 0;
  background-color: #f9e7f0;
}

.about .left {
  display: block;
}

.about .left .conheca {
  font-size: 16px;
  font-weight: 400;
  color: #c6126e;
  letter-spacing: 0.1rem;
}

.about .left h2 {
  font-size: 48px;
  font-weight: 700;
  color: #c6126e;
}

.about .left p {
  max-width: 620px;
  font-size: 18px;
  margin-top: 42px;
  color: #c6126e;
}

.about .left p:last-child {
  margin-top: 36px;
}

.about .left p span {
  font-weight: 700;
}

.price {
  background-image: url("/images/price-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 70px 0;
  max-width: 100%;
  padding: 110px 0;
  text-align: center;
}

.price h2 {
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  color: #fefefe;
  font-size: 24px;
  font-weight: bold;
  max-width: 850px;
}

.price img {
  max-width: 172px;
  margin: 0 auto;
  margin-top: 72px;
}

.price .text-1 {
  font-size: 22px;
  color: #fefefe;
  margin-top: 55px;
}

.price .text-yellow {
  margin: 0 auto;
  margin-top: 40px;
  color: #fff212;
  max-width: 386px;
  text-shadow: 3px 3px 10px #000030;
}

.price .text-yellow div,
.price .text-yellow p {
  font-weight: 700;
  font-size: 26px;
}

.price .text-yellow p {
  margin-top: 40px;
}

.price .text-2 {
  font-weight: 700;
  font-size: 24px;
  color: #fefefe;
  margin-top: 80px;
  margin-bottom: 25px;
}

.price .price-text {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 28px;
  color: #fefefe;
  text-shadow: 3px 3px 10px #000030;
}

.price .price-text span {
  color: #fff212;
}

.price .icon {
  margin: 0 auto;
  margin-top: 45px;
}

.price .icon .caixa {
  padding: 20px;
  background-color: #7e0845;
}

.price .icon .box {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #c6126e;
  border: 3px solid #aa1060;
  margin-bottom: 10px;
}

.price .icon p {
  margin-top: 10px;
  color: #fefefe;
  font-size: 16px;
  font-weight: 500;
}

.price .icon i {
  margin-top: 13px;
  font-size: 40px;
  color: #fefefe;
}

.price .icon div {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  color: #fefefe;
}

.price .btn {
  font-weight: bold;
  background-color: #fff212;
  color: #002a4c;
  border-bottom: 5px solid #ffa012;
}

.faq {
  padding: 92px 0;
}

.faq .title {
  color: #002a4c;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 68px;
}

.faq .title span {
  color: #c6126e;
}

.garantia {
  padding: 110px 0;
  text-align: center;
  color: #c6126e;
}

.garantia img {
  margin: 0 auto;
  max-width: 375px;
}

.garantia h2 {
  margin-top: 60px;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 40px;
}

.garantia p {
  color: #002a4c;
  margin-top: 70px;
  margin: 0 auto;
  font-size: 22px;
  max-width: 650px;
  font-weight: 500;
}

.wpp {
  background-color: #002a4c;
  color: #fff;
  padding: 50px 0;
}

.wpp i {
  font-size: 70px;
}

.wpp .wpp-wrap {
  text-align: center;
}

.wpp .wpp .wpp-zap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wpp .wpp .btn {
  margin: 0 auto;
  margin-top: 0px;
  text-align: center;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 40px !important;
}

footer {
  padding: 40px 0;
  background-color: #e6f4ff;
  color: #002a4c;
  text-align: center;
}

footer footer .small {
  margin-top: 30px;
  font-size: 12px;
}

@media only screen and (max-width: 990px) {
  .btn {
    font-size: 18px;
    padding: 10px 30px;
  }
  h2 {
    font-size: 21px !important;
  }
  ul li {
    font-size: 14px !important;
  }
  .intro h1 {
    font-size: 26px;
    margin-top: 20px;
  }
  .intro h2 {
    font-size: 14px !important;
  }
  .intro p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px !important;
  }
  .intro .btn {
    margin-top: 20px;
    background-color: #002a4c;
    border-bottom: 5px solid #08123f;
  }
  .sec-2 {
    margin-top: 0px;
    padding: 70px 0;
  }
  .sec-2 ul {
    margin-top: 40px;
  }
  .sec-3 {
    margin: 0;
    padding: 70px 0;
  }
  .sec-3 p {
    font-size: 16px !important;
    line-height: 1.5rem !important;
  }
  .sec-4 {
    padding: 70px 0;
  }
  .sec-4 .btn {
    background-color: #002a4c;
    border-bottom: 5px solid #08123f;
    margin-top: 30px;
  }
  .sec-5 {
    padding: 70px 0;
  }
  .sec-5 p {
    font-size: 16px !important;
  }
  .sec-5 .caixas {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sec-5 .btn {
    margin-top: 30px;
  }
  .sec-6 {
    padding: 70px 0;
  }
  .sec-6 ul {
    margin-top: 40px;
  }
  .sec-6 ul h3 {
    font-size: 20px !important;
  }
  .sec-6 ul p {
    font-size: 14px !important;
  }
  .sec-6 .btn {
    margin-top: 30px;
  }
  .about {
    padding: 70px 0 0 0;
  }
  .about p {
    margin-top: 20px !important;
    font-size: 14px !important;
  }
  .price {
    padding: 70px 0;
  }
  .price h2 {
    text-transform: unset;
    font-size: 18px !important;
  }
  .price img {
    margin-top: 25px;
  }
  .price .text-1 {
    margin-top: 25px;
  }
  .price .text-2 {
    margin-top: 25px;
  }
  .price .text-yellow {
    margin-top: 25px;
  }
  .price .text-yellow p {
    margin-top: 16px;
  }
  .price .icons .icon .caixa {
    padding: 20px;
    background-color: #7e0845;
  }
  .price .icons .icon .box {
    background-color: #c6126e;
    border: 3px solid #aa1060;
  }
  .price .icons .icon i {
    color: #fefefe;
    text-shadow: 3px 3px 10px transparent;
  }
  .price .icons .icon div {
    background-color: transparent;
    color: #fefefe;
    font-size: 18px !important;
    padding-bottom: 5px;
  }
  .price .icons .icon p {
    color: #fefefe;
    font-size: 14px !important;
  }
  .faq {
    padding: 70px 0;
  }
  .faq .title {
    font-size: 21px;
    margin-bottom: 40px;
  }
  .garantia {
    padding: 30px 0 70px 0;
  }
  .garantia img {
    max-width: 270px;
  }
  .garantia h2 {
    margin: 30px 0 20px 0;
  }
  .garantia p {
    font-weight: 400;
    font-size: 14px;
  }
  .wpp li div {
    font-size: 14px !important;
  }
  .wpp .btn {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */